<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wey.ten.era.application.models.dao.ModelClassificationDao">
 
  <select id="getAll" resultType="com.wey.ten.era.application.models.entity.ModelClassification" >
    SELECT
     classification_id as classificationId,
     classification_name AS classificationName,
     create_time AS createTime
    FROM model_classification_info
    WHERE classification_status=1
    <if test="classificationName!=null">
        and classification_name like CONCAT('%',#{classificationName},'%')
    </if>
  </select>
  
  <insert id="add" parameterType="string">
  	 insert into model_classification_info
  	 (
	    classification_name,
	    classification_status,
	    create_time,
	    update_time
  	 )values(
  	    #{classificationName},
  	    1,
  	    NOW(),
  	    NOW()
  	 )
  </insert>
  
  <update id="update" parameterType="com.wey.ten.era.application.models.entity.ModelClassification">
  	 update model_classification_info set 
  	 classification_name=#{classificationName},
     update_time=NOW()
   where 
     classification_id=#{classificationId}
  </update>
  
</mapper>