<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wey.ten.era.rbac.system.dao.EnterpriseInfoDao">

	<resultMap type="EnterpriseInfo" id="BaseResultMap">
        <result property="enterpriseId"    column="enterprise_id"    />
        <result property="userId"    column="user_id"    />
        <result property="enterprisName"    column="enterpris_name"    />
        <result property="enterprisAuthenticationType"    column="enterpris_authentication_type"    />
        <result property="enterprisType"    column="enterpris_type"    />
        <result property="enterprisStatus"    column="enterpris_status"    />
        <result property="enterprisAuditFailure"    column="enterpris_audit_failure"    />
        <result property="enterprisRegistrationCode"    column="enterpris_registration_code"    />
        <result property="enterprisBusinessLicenssePath"    column="enterpris_business_licensse_path"    />
        <result property="enterprisAddress"    column="enterpris_address"    />
        <result property="enterprisStartTime"    column="enterpris_start_time"    />
        <result property="enterprisEndTime"    column="enterpris_end_time"    />
        <result property="enterprisLegalPerson"    column="enterpris_legal_person"    />
        <result property="enterprisPhoneNumber"    column="enterpris_phone_number"    />
        <result property="enterprisIdNumber"    column="enterpris_id_number"    />
        <result property="enterprisIdImagePathPositive"    column="enterpris_id_image_path_positive"    />
        <result property="enterprisIdImagePathAnti"    column="enterpris_id_image_path_anti"    />
        <result property="enterprisServiceDirection"    column="enterpris_service_direction"    />
        <result property="enterprisCustomerTelephone"    column="enterpris_customer_telephone"    />
        <result property="enterprisCreateTime"    column="enterpris_create_time"    />
        <result property="enterprisUpdateTime"    column="enterpris_update_time"    />
        <result property="enterprisSubmissionTime"    column="enterpris_submission_time"    />
        <result property="enterprisEvidence"    column="enterpris_evidence"    />
        <result property="industryName" column="industry_type"/>
    </resultMap>


	<select id="findList" resultMap="BaseResultMap">
		select e.*,i.industry_type from enterprise_info e left join industry_info i on e.enterpris_industry = i.industry_id
		<where>
			<if test="e.userId != null">
				and e.user_id = #{e.userId}
			</if>
            <if test="e.enterprisName!=null">
                and e.enterpris_name like CONCAT('%',#{e.enterprisName},'%')
            </if>
            <if test="e.enterprisPhoneNumber!=null">
                and e.enterpris_phone_number = #{e.enterprisPhoneNumber}
            </if>
            <if test="e.enterprisIndustry!=null">
                and e.enterpris_industry = #{e.enterprisIndustry}
            </if>
            <if test="e.enterprisIdNumber!=null">
                and e.enterpris_id_number=#{e.enterprisIdNumber}
            </if>
            <if test="e.enterprisLegalPerson!=null">
                and e.enterpris_legal_person=#{e.enterprisLegalPerson}
            </if>
            <if test="e.enterprisRegistrationCode!=null">
                and e.enterpris_registration_code=#{e.enterprisRegistrationCode}
            </if>
            <if test="e.enterprisAddress!=null">
                and e.enterpris_address=#{e.enterprisAddress}
            </if>
        </where>
        order by e.enterpris_create_time desc
	</select>

    <select id="detailEnterpriseInfo" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT *
        FROM enterprise_info
        WHERE enterprise_id=#{enterpriseId}
    </select>
    
    <select id="detailEnterpriseInfoByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT *
        FROM enterprise_info
        WHERE user_id=#{userId}
    </select>


    <insert id="saveEnterpriseInfo">
  	 insert into enterprise_info
  	 (
  	    user_id,
        enterpris_authentication_type,
        enterpris_service_direction,
        enterpris_name,
        enterpris_type,
        enterpris_industry,
        enterpris_registration_code,
        enterpris_business_licensse_path,
        enterpris_address,
        enterpris_start_time,
        enterpris_end_time,
        enterpris_legal_person,
        enterpris_phone_number,
        enterpris_id_number,
        enterpris_id_image_path_positive,
        enterpris_id_image_path_anti,
        enterpris_create_time,
        enterpris_update_time,
        enterpris_submission_time,
        enterpris_evidence,
        enterpris_customer_telephone
    )values(
  	    #{userId},
  	    #{enterprisAuthenticationType},
  	    #{enterprisServiceDirection},
  	    #{enterprisName},
  	    #{enterprisType},
  	    #{enterprisIndustry},
  	    #{enterprisRegistrationCode},
  	    #{enterprisBusinessLicenssePath},
  	    #{enterprisAddress},
  	    NOW(),
  	    #{enterprisEndTime},
  	    #{enterprisLegalPerson},
  	    #{enterprisPhoneNumber},
  	    #{enterprisIdNumber},
  	    #{enterprisIdImagePathPositive},
  	    #{enterprisIdImagePathAnti},
  	    NOW(),
  	    NOW(),
  	    NOW(),
  	    #{enterprisEvidence},
  	    #{enterprisCustomerTelephone}
  	 )
  </insert>

<!--    <select id="queryEnterpriseInfo" resultMap="BaseResultMap">
        SELECT *
        FROM enterprise_info ei join industry_info ii on ei.industry_id=ii.industry_id
        WHERE 1=1
        <if test="enterprisName!=null">
            and enterpris_name like CONCAT('%',#{enterprisName},'%')
        </if>
        <if test="enterprisPhoneNumber!=null">
            and enterpris_phone_number = #{enterprisPhoneNumber}
        </if>
        <if test="enterprisIdNumber!=null">
            and enterpris_id_number=#{enterprisIdNumber}
        </if>
        <if test="enterprisLegalPerson!=null">
            and enterpris_legal_person=#{enterprisLegalPerson}
        </if>
        <if test="enterprisRegistrationCode!=null">
            and enterpris_registration_code=#{enterprisRegistrationCode}
        </if>
        <if test="enterprisAddress!=null">
            and enterpris_address=#{enterprisAddress}
        </if>
        order by enterpris_create_time desc
        limit #{startRow},#{endRow}
    </select>
     <select id="getCount" resultType="java.lang.Integer" parameterType="com.wey.ten.era.rbac.entity.EnterpriseInfo">
        SELECT count(*)
        FROM enterprise_info ei join industry_info ii on ei.industry_id=ii.industry_id
        WHERE 1=1
        <if test="enterprisName!=null">
            and enterpris_name like CONCAT('%',#{enterprisName},'%')
        </if>
        <if test="enterprisPhoneNumber!=null">
            and enterpris_phone_number = #{enterprisPhoneNumber}
        </if>
        <if test="enterprisIdNumber!=null">
            and enterpris_id_number=#{enterprisIdNumber}
        </if>
        <if test="enterprisAddress!=null">
            and enterpris_address=#{enterprisAddress}
        </if>
         <if test="enterprisLegalPerson!=null">
             and enterpris_legal_person=#{enterprisLegalPerson}
         </if>
         <if test="enterprisRegistrationCode!=null">
             and enterpris_registration_code=#{enterprisRegistrationCode}
         </if>
    </select>-->
    <update id="updateEnterpriseInfo" parameterType="EnterpriseInfo">
        update enterprise_info set
        <if test="enterprisName != null">enterpris_name=#{enterprisName},</if>
        <if test="enterprisRegistrationCode != null">enterpris_registration_code=#{enterprisRegistrationCode},</if>
        <if test="enterprisAddress != null">enterpris_address=#{enterprisAddress},</if>
        <if test="enterprisLegalPerson != null">enterpris_legal_person=#{enterprisLegalPerson},</if>
        <if test="enterprisPhoneNumber != null">enterpris_phone_number=#{enterprisPhoneNumber},</if>
        <if test="enterprisIdNumber != null">enterpris_id_number=#{enterprisIdNumber},</if>
        <if test="enterprisCustomerTelephone != null">enterpris_customer_telephone=#{enterprisCustomerTelephone},</if>
        <if test="enterprisType != null">enterpris_type=#{enterprisType},</if>
        <if test="enterprisAuthenticationType != null">enterpris_authentication_type=#{enterprisAuthenticationType},</if>
        <if test="enterprisServiceDirection != null">enterpris_service_direction=#{enterprisServiceDirection},</if>
        <if test="enterprisBusinessLicenssePath != null">enterpris_business_licensse_path=#{enterprisBusinessLicenssePath},</if>
        <if test="enterprisStartTime != null">enterpris_start_time=#{enterprisStartTime},</if>
        <if test="enterprisEndTime != null">enterpris_end_time=#{enterprisEndTime},</if>
        <if test="enterprisIdImagePathPositive != null">enterpris_id_image_path_positive=#{enterprisIdImagePathPositive},</if>
        <if test="enterprisIdImagePathAnti != null">enterpris_id_image_path_anti=#{enterprisIdImagePathAnti},</if>
        <if test="enterprisEvidence != null">enterpris_evidence=#{enterprisEvidence},</if>
        enterpris_update_time=NOW(),
        enterpris_submission_time=NOW()
        where
        user_id=#{userId}
    </update>

    <update id="updateAuditStatus" parameterType="map">
   		 update enterprise_info set enterpris_status=#{enterprisStatus} where enterprise_id=#{enterpriseId}
    </update>

    <delete id="removeEnterpriseInfo" parameterType="java.lang.Integer">
  	delete from enterprise_info where enterprise_id=#{enterpriseId}
  </delete>
</mapper>