<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wey.ten.era.rbac.system.dao.IndustryInfoDao">

    <resultMap type="IndustryInfo" id="BaseResultMap">
        <id  column="industry_id"  property="industryId" jdbcType="INTEGER"/>
        <result column="industry_type"  property="industryType" jdbcType="VARCHAR"/>
        <result column="create_time"  property="createTime" />
        <result column="update_time"  property="updateTime" />
        <result column="submission_time"  property="submissionTime" />
    </resultMap>

    <sql id="baseColumn">
        industry_id,
        industry_type
    </sql>

    <select id="getAll" resultType="IndustryInfoVo" >
        SELECT
         industry_id as industryId , industry_type as industryType
        FROM industry_info
    </select>
    
    <select id="getDetail" resultType="IndustryInfoVo" parameterType="java.lang.Integer">
        SELECT
         industry_id as industryId , industry_type as industryType
        FROM industry_info
        where  industry_id=#{0}
    </select>
</mapper>