<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wey.ten.era.rbac.system.dao.RegionDao">

    <select id="getRegion" resultType="Region" parameterType="java.lang.Integer">
        SELECT
        Id as id,
        Name as name,
        Pid as pid
        FROM china 
        WHERE Pid = #{0}
    </select>
    
</mapper>
