<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wey.ten.era.order.dao.OrderDetailInfoDao">
    
    <resultMap type="com.wey.ten.era.order.entity.OrderDetailInfo" id="OrderDetailInfoResult">
        <result property="id"    column="id"    />
        <result property="orderId"    column="order_id"    />
        <result property="applicationClassification"    column="application_classification"    />
        <result property="buyerUserId"    column="buyer_user_id"    />
        <result property="buyerEnterprisName"    column="buyer_enterpris_name"    />
        <result property="buyerUserName"    column="buyer_user_name"    />
        <result property="serviceProviderUserId"    column="service_provider_user_id"    />
        <result property="serviceProviderEnterprisName"    column="service_provider_enterpris_name"    />
        <result property="serviceProviderUserName"    column="service_provider_user_name"    />
        <result property="softwareId"    column="software_id"    />
        <result property="isToll"    column="is_toll"    />
        <result property="price"    column="price"    />
        <result property="priceType"    column="price_type"    />
        <result property="useNumber"    column="use_number"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectOrderDetailInfoVo">
        select id, order_id, application_classification, buyer_user_id, buyer_enterpris_name, buyer_user_name, service_provider_user_id, service_provider_enterpris_name, service_provider_user_name, software_id, is_toll, price, price_type, use_number, create_time, update_time from order_detail_info
    </sql>

    <select id="selectOrderDetailInfoList"  resultMap="OrderDetailInfoResult">
        <include refid="selectOrderDetailInfoVo"/>
        <where>  
            <if test="e.orderId != null  and e.orderId != ''"> and order_id = #{e.orderId}</if>
            <if test="e.applicationClassification != null "> and application_classification = #{e.applicationClassification}</if>
            <if test="e.softwareId != null "> and software_id = #{e.softwareId}</if>
            <if test="e.isToll != null "> and is_toll = #{e.isToll}</if>
            <if test="e.useNumber != null "> and use_number = #{e.useNumber}</if>
        </where>
    </select>
    
    <select id="selectOrderDetailInfoById" parameterType="Integer" resultMap="OrderDetailInfoResult">
        <include refid="selectOrderDetailInfoVo"/>
        where id = #{id}
    </select>
    
    <select id="selectOrderDetailInfoByOrderId" parameterType="string" resultMap="OrderDetailInfoResult">
        <include refid="selectOrderDetailInfoVo"/>
        where order_id = #{0}
    </select>
        
    <insert id="insertOrderDetailInfo" parameterType="com.wey.ten.era.order.entity.OrderDetailInfo">
        insert into order_detail_info (
            order_id,
            application_classification,
            buyer_user_id,
            buyer_enterpris_name,
            buyer_user_name,
            service_provider_user_id,
            service_provider_enterpris_name,
            service_provider_user_name,
            software_id,
            is_toll,
            price,
            price_type,
            use_number,
            create_time,
            update_time
         )
        values (
            #{orderId},
            #{applicationClassification},
            #{buyerUserId},
            #{buyerEnterprisName},
            #{buyerUserName},
            #{serviceProviderUserId},
            #{serviceProviderEnterprisName},
            #{serviceProviderUserName},
            #{softwareId},
            #{isToll},
            #{price},
            #{priceType},
            #{useNumber},
            now(),
            now()
         )
    </insert>

    <update id="updateOrderDetailInfo" parameterType="com.wey.ten.era.order.entity.OrderDetailInfo">
        update order_detail_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null  and orderId != ''">order_id = #{orderId},</if>
            <if test="applicationClassification != null ">application_classification = #{applicationClassification},</if>
            <if test="buyerUserId != null ">buyer_user_id = #{buyerUserId},</if>
            <if test="buyerEnterprisName != null  and buyerEnterprisName != ''">buyer_enterpris_name = #{buyerEnterprisName},</if>
            <if test="buyerUserName != null  and buyerUserName != ''">buyer_user_name = #{buyerUserName},</if>
            <if test="serviceProviderUserId != null ">service_provider_user_id = #{serviceProviderUserId},</if>
            <if test="serviceProviderEnterprisName != null  and serviceProviderEnterprisName != ''">service_provider_enterpris_name = #{serviceProviderEnterprisName},</if>
            <if test="serviceProviderUserName != null  and serviceProviderUserName != ''">service_provider_user_name = #{serviceProviderUserName},</if>
            <if test="softwareId != null ">software_id = #{softwareId},</if>
            <if test="isToll != null ">is_toll = #{isToll},</if>
            <if test="price != null ">price = #{price},</if>
            <if test="priceType != null ">price_type = #{priceType},</if>
            <if test="useNumber != null ">use_number = #{useNumber},</if>
            update_time = now(),
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOrderDetailInfoById" parameterType="Integer">
        delete from order_detail_info where id = #{id}
    </delete>

    <delete id="deleteOrderDetailInfoByIds" parameterType="String">
        delete from order_detail_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>