<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wey.ten.era.order.dao.ShoppingCartInfoDao">
    
    <resultMap type="com.wey.ten.era.order.entity.ShoppingCartInfo" id="ShoppingCartInfoResult">
        <result property="id"    column="id"    />
        <result property="applicationClassification"    column="application_classification"    />
        <result property="userId"    column="user_id"    />
        <result property="serviceProviderUserId"    column="service_provider_user_id"    />
        <result property="softwareId"    column="software_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectShoppingCartInfoVo">
        select id, application_classification, user_id, service_provider_user_id, software_id, create_time, update_time from shopping_cart_info
    </sql>

    <select id="selectShoppingCartInfoList" resultMap="ShoppingCartInfoResult">
        <include refid="selectShoppingCartInfoVo"/>
        <where>  
            <if test="e.id != null "> and id = #{e.id}</if>
            <if test="e.applicationClassification != null "> and application_classification = #{e.applicationClassification}</if>
            <if test="e.userId != null "> and user_id = #{e.userId}</if>
            <if test="e.serviceProviderUserId != null "> and service_provider_user_id = #{e.serviceProviderUserId}</if>
            <if test="e.softwareId != null "> and software_id = #{e.softwareId}</if>
        </where>
    </select>
    
    <select id="selectShoppingCartInfoById" parameterType="Integer" resultMap="ShoppingCartInfoResult">
        <include refid="selectShoppingCartInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertShoppingCartInfo" parameterType="com.wey.ten.era.order.entity.ShoppingCartInfo">
        insert into shopping_cart_info (
            application_classification,
            user_id,
            service_provider_user_id,
            software_id,
            create_time,
            update_time
         )
      	values (
            #{id},
            #{applicationClassification},
            #{userId},
            #{serviceProviderUserId},
            #{softwareId},
            now(),
            now()
         )
    </insert>

    <update id="updateShoppingCartInfo" parameterType="com.wey.ten.era.order.entity.ShoppingCartInfo">
        update shopping_cart_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="applicationClassification != null ">application_classification = #{applicationClassification},</if>
            <if test="userId != null ">user_id = #{userId},</if>
            <if test="serviceProviderUserId != null ">service_provider_user_id = #{serviceProviderUserId},</if>
            <if test="softwareId != null ">software_id = #{softwareId},</if>
            update_time = now()
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteShoppingCartInfoById" parameterType="Integer">
        delete from shopping_cart_info where id = #{id}
    </delete>
    
    <delete id="deleteShoppingCartInfoByOrderId" parameterType="string">
        delete from shopping_cart_info where order_id = #{0}
    </delete>

    <delete id="deleteShoppingCartInfoByIds" parameterType="String">
        delete from shopping_cart_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>