<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wey.ten.era.order.dao.UserPurchaseHistoryDao">
    
    <resultMap type="com.wey.ten.era.order.entity.UserPurchaseHistory" id="UserPurchaseHistoryResult">
        <result property="id"    column="id"    />
        <result property="orderId"    column="order_id"    />
        <result property="applicationClassification"    column="application_classification"    />
        <result property="userId"    column="user_id"    />
        <result property="serviceProviderUserId"    column="service_provider_user_id"    />
        <result property="softwareId"    column="software_id"    />
        <result property="isToll"    column="is_toll"    />
        <result property="price"    column="price"    />
        <result property="priceType"    column="price_type"    />
        <result property="expirationDate"    column="expiration_date"    />
        <result property="isEffective"    column="is_effective"    />
        <result property="useNumber"    column="use_number"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectUserPurchaseHistoryVo">
        select id, order_id, application_classification, user_id, service_provider_user_id, software_id, is_toll, price, price_type, expiration_date, is_effective, use_number, create_time, update_time from user_purchase_history
    </sql>

    <select id="selectUserPurchaseHistoryList" parameterType="com.wey.ten.era.order.entity.UserPurchaseHistory" resultMap="UserPurchaseHistoryResult">
        <include refid="selectUserPurchaseHistoryVo"/>
        <where>  
            <if test="e.orderId != null  and e.orderId != ''"> and order_id = #{e.orderId}</if>
            <if test="e.applicationClassification != null "> and application_classification = #{e.applicationClassification}</if>
            <if test="e.softwareId != null "> and software_id = #{e.softwareId}</if>
            <if test="e.isEffective != null "> and is_effective = #{e.isEffective}</if>
        </where>
    </select>
    
    <select id="selectUserPurchaseHistoryById" parameterType="Integer" resultMap="UserPurchaseHistoryResult">
        <include refid="selectUserPurchaseHistoryVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertUserPurchaseHistory" parameterType="com.wey.ten.era.order.entity.UserPurchaseHistory">
        insert into user_purchase_history
        (
            order_id,
            application_classification,
            user_id,
            service_provider_user_id,
            software_id,
            is_toll,
            price,
            price_type,
            expiration_date,
            is_effective,
            use_number,
            create_time,
            update_time
         )
         values (
            #{orderId},
            #{applicationClassification},
            #{userId},
            #{serviceProviderUserId},
            #{softwareId},
            #{isToll},
            #{price},
            #{priceType},
            #{expirationDate},
            #{isEffective},
            #{useNumber},
            now(),
            now()
         )
    </insert>

    <update id="updateUserPurchaseHistory" parameterType="com.wey.ten.era.order.entity.UserPurchaseHistory">
        update user_purchase_history
        <trim prefix="SET" suffixOverrides=",">
            <if test="applicationClassification != null ">application_classification = #{applicationClassification},</if>
            <if test="userId != null ">user_id = #{userId},</if>
            <if test="serviceProviderUserId != null ">service_provider_user_id = #{serviceProviderUserId},</if>
            <if test="softwareId != null ">software_id = #{softwareId},</if>
            <if test="isToll != null ">is_toll = #{isToll},</if>
            <if test="price != null ">price = #{price},</if>
            <if test="priceType != null ">price_type = #{priceType},</if>
            <if test="expirationDate != null ">expiration_date = #{expirationDate},</if>
            <if test="isEffective != null ">is_effective = #{isEffective},</if>
            <if test="useNumber != null ">use_number = #{useNumber},</if>
            update_time = now()
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserPurchaseHistoryById" parameterType="Integer">
        delete from user_purchase_history where id = #{id}
    </delete>

    <delete id="deleteUserPurchaseHistoryByIds" parameterType="String">
        delete from user_purchase_history where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>